@import './vars';

@mixin circle($width) {
	width: $width;
	height: $width;
	line-height: $width;	
	text-align: center;
	border-radius: 50%;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

img {
    max-width: 100%;
}

input, button, textarea, a {
    outline: none;
}

p {
	margin: 0 0 1em 0;
}

a {
  color: $text_color;
}

.inverse {
  color: #fff;
}

.break {
  display: block;
}

.accent {
  color: $accent;
}

.normal {
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.light {
  font-weight: 300;
}

.text {
  &-phone {
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
  }
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
}

.hamburger {
  display: none;
  margin-left: 20px;
}

.grow {
  flex-grow: 1;
}

.button {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 13px 10px;
  font-size: 16px;
  line-height: 1;
  font-weight: normal;
  text-align: center;
  color: #fff;
  background-color: $accent;
  border-radius: 3px;
  border: 0;
  cursor: pointer;

  &:hover {
    background-color: #f75151;
  }    

  &:active {
    top: 1px;
  }
}

.input-div {  
  .input {
    width: 100%;  
  }
}

.input, .textarea {
  background: transparent;
  color: $text_color;
  font-size: 14px;
  line-height: 1;
  border: 2px solid $accent;
  font-family: $default_family, sans-serif;
  padding: 9px 10px;   

  &.error {
    border-color: red;
    color: red;

    &+.error-message {
      display: block;
    }
  }

	&+.error-message {
    display: none;
    text-align: left;
    color: red;
    padding-left: 15px;
    margin-top: 5px;
	}

	&::-webkit-input-placeholder {
    color: #828386;
		opacity: 1;
	}
	
	&::-moz-placeholder {
    color: #828386;
		opacity: 1;
	}
	
	&:-ms-input-placeholder {
    color: #828386;
		opacity: 1;
	}
	
	&.error::-webkit-input-placeholder {
		color: red;
	}
	
	&.error::-moz-placeholder {
		color: red;
	}
	
	&.error:-ms-input-placeholder {
		color: red;
	}
}

.call-me {
  position: fixed;
	bottom: 20px;
	left: 20px;
	z-index: 99;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  background-color: #58ea00;
  cursor: pointer;
  display: none;

  .fa {
    color: #fff;
    font-size: 25px;
    position: relative;
    top: 5px;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    border: 1px solid #58ea00;
    border-radius: 50%;
    animation: pulse 1.5s linear infinite;
  }

  &:after {
    animation-delay: 0.5s;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.form {
  &-title {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin-bottom: 25px;
  }

  &-info {
    font-size: 11px;
  }

  .input-div, .button {
    margin-bottom: 10px;
  }
}



