@import './vars';

@mixin circle($width) {
	width: $width;
	height: $width;
	line-height: $width;	
	text-align: center;
	border-radius: 50%;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

img {
    max-width: 100%;
}

a {
    color: $text_color;
    outline: none;
    font-weight: 500;
    text-decoration: none;

    .inverse & {
        color: #fff;
    }
}

input, button, textarea, a {
    outline: none;
}

p {
	margin: 0 0 1em 0;
}

.inverse {
    color: #fff;
}

.accent {
    color: $accent;
}

.bold {
    font-weight: bold;
}

.light {
    font-weight: 300;
}

.text {
  &-phone {
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
  }
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
}

.hamburger {
  display: none;
  margin-left: 20px;
}

.grow {
  flex-grow: 1;
}

.button {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 12px 10px;
  font-size: 16px;
  line-height: 1;
  font-weight: normal;
  text-align: center;
  color: #fff;
  background-color: $accent;
  border: 0;
  cursor: pointer;

  &:hover {
    color: $text_color;
  }    

  &:active {
    top: 1px;
  }
}

.input-div {  
  .input {
    width: 100%;  
  }
}

.input, .textarea {
  background: transparent;
  color: $text_color;
  font-size: 16px;
  line-height: 1;
  border: 1px solid $accent;
  font-family: $default_family, sans-serif;
  padding: 10.5px 15px;   

  &.error {
    border-color: red;
    color: red;

    &+.error-message {
      display: block;
    }
  }

	&+.error-message {
    display: none;
    text-align: left;
    color: red;
    font-size: 16px;
    padding-left: 15px;
    margin-top: 5px;
	}

	&::-webkit-input-placeholder {
    color: #535353;
		opacity: 1;
	}
	
	&::-moz-placeholder {
    color: #535353;
		opacity: 1;
	}
	
	&:-ms-input-placeholder {
    color: #535353;
		opacity: 1;
	}
	
	&.error::-webkit-input-placeholder {
		color: red;
	}
	
	&.error::-moz-placeholder {
		color: red;
	}
	
	&.error:-ms-input-placeholder {
		color: red;
	}
}


.form {
  &-title {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-bottom: 25px;
  }

  &-file {
    text-align: left;
    width: 180px;
    font-size: 14px;
    color: #535353;
    margin: 0 30px 10px 0;

    .accent-link {
      font-size: 16px;
      font-weight: normal;
    }

    input {
      display: none;
    }
  }

  form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .input-div {
    margin-right: 30px;
  }

  .input-div, .button {
    width: 230px;
    margin-bottom: 10px;
  }
}



