
/* Medium Devices, Desktops */
.visible-xxs {
    display: none !important;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199.5px) {

  .header {
    &-slogan {
      display: none;
    }
  }

  .section {
    &-main {
      &-title {
        font-size: 20px;
      }
    }

    &-about {
      &-text {
        font-size: 14px;
        max-width: 440px;
      }
    }

    &-partners {
      &-form {
        form {
          flex-wrap: wrap;
        }

        .button {
          margin: 0 auto 10px;
        }

        .input-div {
          &:nth-child(5) {
            margin-right: 0;
          }
        }
      }
    }
  }
}

@media only screen and (max-width : 991.5px) {	

  .hamburger {
    display: block;
  }    

	.main-menu {
    display: none;
    background-color: #fff;
    position: fixed;
    top: 77px;
    left: 0;
    right: 0;
    text-align: left;
    margin-left: 0;
    z-index: 98;
    padding: 10px 0;
    border-bottom: 1px solid $accent;

		ul {
			display: block;
			height: auto;
			padding: 0;

			li {
        margin: 0 0 5px;

        &:last-child {
            margin: 0;
        }
      }
      
      a {
        padding: 0;

        &:hover, &.active {
          background-color: transparent;
          color: $accent;
        }
      }
		}
  }

  .page-wrapper {
    padding-top: 77px;
  }

  .header {
    &-schedule {
      display: none;
    }

    .logo, .text-phone {
      margin: 0;
    }
  }

  .footer {
    .text-phone {
      display: none;
    }
  }

  .section {
    &-main {
      &-content {
        flex-direction: column;
        align-items: center;
      }

      &-block {
        margin: 0 0 20px;
      }

      .banner {
        border-top: 2px solid $accent;
      }
    }

    &-sphere {
      .sphere {
        max-width: 350px;
      }
    }

    &-about {
      &-content {
        flex-wrap: wrap;
        justify-content: center;
      }

      &-text {
        max-width: 100%;
        margin: 10px 0;
      }
    }

    &-partners {
      &-form {
        .input-div {
          width: 48%;
          flex-grow: 0;
          margin: 0 0 15px;
        }

        .form-info {
          text-align: center;
        }
      }
    }

    &-dostavka {
      &-content {
        flex-direction: column;
      }

      .dostavka {
        margin-bottom: 30px;
      }

      &-block {
        margin: 0 0 20px;
      }
    }
  }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 767.5px) {

  .header {
    .button {
      display: none;
    }
  }

  .footer {
    .break {
      display: inline-block;
    }

    &-content {
      flex-direction: column;

      & > * {
        margin-bottom: 10px;
      }
    }

    .text-phone {
      display: block;
    }
  }
  
  .section {
    &-models {
      &-content {
        padding: 0;
      }

      &-block {
        &:first-child {
          position: static;
          display: inline-block;
          margin-bottom: 30px;
        }
      }
    }

    &-sphere {
      &-content {
        flex-direction: column;
        align-items: center;
      }

      .sphere {
        max-width: 360px;
      }
    }

    &-about {
      &-content {
        flex-direction: column;

        & > * {
          margin: 0 0 10px;
        }
      }

      &-text {
        text-align: center;
      }
    }

    &-partners {
      &-form {
        form {
          margin: 0 auto;
          max-width: 400px;
        }

        .input-div {
          width: 100%;
        }
      }
    }
  }

  .special {
    max-width: 440px;
    &-content {
      flex-direction: column;
    }

    .banner {
      padding-right: 0;
    }

    .form {
      text-align: center;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479.5px) {

  .remodal {
    padding: 40px 15px;
  }

	.col-xxs-12 {
		width: 100%;
	}

	.col-xxs-offset-0 {
		margin-left: 0;
  }
    
  .visible-xxs {
    display: block !important;
  }

	.hidden-xxs {
		display: none !important;
  }

  .page-wrapper {
    padding-top: 66px;
  }

  .main-menu {
    top: 66px;
  }

  .header {
    .logo {
      width: 220px;
    }

    .text-phone {
      display: none;
    }
  }

  .section {
    &-title {
      font-size: 20px;
    }

    &-main {
      padding-top: 14px;
      
      &-block {
        background-image: none;
        padding: 0;
      }
    }

    &-advantages {
      padding-bottom: 30px;

      &-content {
        flex-direction: column;
      }

      .advantage {
        margin: 0 0 20px;
        &-image {
          margin-bottom: 10px;
        }
      }
    }

    &-contacts {
      .map {
        &-content {
          padding: 20px 0 0 0;
          position: static;
        }

        &-block {
          margin-bottom: 10px;
        }

        &-title {
          margin-bottom: 5px;
        }
      }
    }

    &-thanks {
      &-title {
        font-size: 20px;
      }

      &-text {
        font-size: 16px;
      }

      &-link {
        margin-top: 0;
      }
    }
  }

  .break {
    display: inline-block;
  }

  .banner {
    &-lenta {
      top: 105px;
    }

    &-title {
      font-size: 16px;
      margin-bottom: 15px;

      strong {
        display: block;
      }
    }

    &-image {
      margin-bottom: 15px;
    }

    &-info {
      font-size: 12px;
    }
  }

  .special {
    &-content {
      flex-direction: column;
    }

    .banner {
      padding: 15px;
      margin: 0 -15px;
      text-align: center;

      &-lenta {
        top: 0px;
      }
    }

    .form {
      text-align: center;
    }
  }

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 319.5px) {

}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
}

@media only screen and (min-width : 1920px) {

}