@import './base';

html, body {
	margin: 0;
}

body {
	min-width: 320px;
	position: relative;
	color: $text_color;
  line-height: 1.2;
  letter-spacing: -1px;
	font-size: $font_size;
  font-weight: normal;
  font-family: $default_family;
  overflow-x: auto;
	opacity: 1;
}

.page-top {
	position: fixed;
	bottom: 20px;
	right: -100px;
	z-index: 99;
	cursor: pointer;
	@include circle(50px);
	background-color: $accent;
	font-size: 25px;
	color: #ffffff;
	opacity: .3;
	transition: all .5s ease-out;	

	&.active {		
		right: 20px;			
	}

	&:hover {
		opacity: 1;
	}
}

.page-wrapper {
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 106px;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 98;
  border-bottom: 2px solid $accent;
  background-color: #fff;
  
  &-slogan {
    font-weight: bold;
    color: #818286;
  }

  &-content {
    display: flex;
    align-items: center;
  }

  .logo {
    margin-right: 30px;
  }

  .button {
    margin-left: 30px;
  }

  .text-phone {
    margin-left: 30px;
  }
}

.footer {
  background-color: $gray;
  padding: 20px 0;

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-company {
    text-align: center;
  }
}

.main-menu {   
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0 0 0 155px;
  }

  li {
    margin: 0px 5px;
  }

  a {
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    font-weight: normal;
    padding: 8px 14px;

    &.link:hover, &.active {
      background-color: $accent;  
      color: #fff;
    }
  }
}

.gray {
  background-color: $gray;
}

.section {
  padding: 40px 0;
  background-repeat: no-repeat;
  background-position: top center;  
  text-align: center;

  &-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto 35px;
    text-align: center;
  }

  &-main {
    padding: 0;

    &-title {
      font-size: 22px;
      font-weight: bold;
      margin: 0 0 10px;
    }

    &-content {
      display: flex;
    }

    &-block {
      padding: 30px 20px;
      text-align: left;
      margin-right: 30px;
      background-image: url('../img/main.jpg');
      background-size: cover;
    }

    .banner {
      border-top: 0;
    }
  }

  &-advantages {
    padding-bottom: 0;

    &-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .advantage {
      margin: 0 30px 60px;

      &-image {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin-bottom: 20px;
      }

      &-circle {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: $gray;
      }

      &-info {
        font-size: 48px;
        color: $accent;
        font-weight: 600;
        line-height: 1;
        margin-left: -30px;
      }

      &-text {
        font-weight: 600;
      }
    }
  }

  &-models {
    background-image: url('../img/ornament.png');

    &-content {
      position: relative;
      padding-left: 292px;
    }

    &-block {
      &:first-child {      
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    &-title {
      font-size: 16px;
      font-weight: bold;
      padding-bottom: 10px;
      border-bottom: 2px solid $accent;
    }

    .model {
      width: 262px;
      min-height: 260px;
      display: flex;
      flex-direction: column;
      align-items: center;

      &-title {
        font-weight: normal;
        margin-bottom: 10px;
      }

      &-image {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .models-carousel {
      .model {
        margin: 0 auto;
      }
    }
  }

  &-sphere {
    padding-bottom: 0;

    &-content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .sphere {
      margin-bottom: 44px;
      max-width: 360px;

      &-title {
        font-weight: bold;
        font-size: $font_size;
        margin: 18px 0 25px;        
      }
    }
  }

  &-about {
    background-image: url('../img/ornament.png');
    background-position: center center;

    &-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-text {
      text-align: left;
      max-width: 590px;
      font-size: 16px;
    }    
  }

  &-partners {
    .partners-carousel {
      max-width: 860px;
      margin: 0 auto 50px;
      padding: 0 70px;
    }

    &-form {
      form {
        display: flex;     
        justify-content: space-between; 
        align-items: flex-start;  
      }

      .input-div {
        margin-right: 10px;
        flex-grow: 1;
      }

      .input-div, .button {
        margin-bottom: 10px;
      }

      .form-info {
        text-align: left;
      }
    }
  }

  &-dostavka {
    background-image: url('../img/ornament.png');
    background-position: center center;

    &-content {
      display: flex;
      justify-content: space-between;
    }

    &-block {
      margin-right: 30px;
    }

    .dostavka {
      text-align: left;
      margin-bottom: 60px;

      &:last-child {
        margin-bottom: 0;
      }

      img {
        margin-right: 15px;
      }

      &-content {
        display: flex;
        align-items: flex-start;
      }

      &-title {
        font-weight: bold;
        margin-bottom: 15px;
      }

      &-list {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          margin-bottom: 5px;
        }
      }

      &-info {
        color: $accent;
      }
    }

    .banner {
      margin-top: 20px;
    }
  }

  &-contacts {
    padding-bottom: 30px;

    .map {
      position: relative;

      &-content {
        position: absolute;
        top: 45px;
        left: 30px;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 30px;
        text-align: left;
        min-width: 200px;
      }

      &-title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      &-block {
        margin-bottom: 40px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &-thanks {
    display: flex;
    text-align: left;
    flex-grow: 1;
    padding: 0;

    & > .container {
      display: flex;
    }

    &-content {
      width: 100%;
      padding: 40px;
      background-image: url('../img/thanks-back.jpg');
      background-size: cover;
      background-position: center center;
    }

    &-title {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 40px;
    }

    &-text {
      font-size: 22px;
      margin-bottom: 30px;
    }

    &-link {
      display: inline-block;
      margin-top: 40px;
      font-size: 16px;
    }
  }
}

.banner {
  position: relative;
  max-width: 453px;
  width: 100%;
  flex-shrink: 0;
  border: 2px solid $accent;
  padding: 30px 10px 25px;

  &-lenta {
    position: absolute;
    top: 127px;
    left: 0;
    width: 149px;
    height: 43px;
    background-image: url('../img/banner-lenta.png');
    background-repeat: no-repeat;
  }

  &-title {
    font-size: 18px;
    margin: 0 0 35px;    
  }

  &-image {
    margin-bottom: 25px;
  }

  &-info {
    font-weight: 600;
    margin-bottom: 5px;
  }

  .accent {
    font-weight: bold;
  }

  .button {
    margin-top: 10px;
  }
}

.special {
  max-width: 750px;

  &-content {
    display: flex;
    justify-content: space-between;
  }

  .banner {
    border: 0;
    width: auto;
    max-width: none;
    margin-left: -35px;
    padding: 40px;

    &-lenta {
      top: 20px;
    }
  }
}

@import './_media';